/* Enquiry Design */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body_content{
    background-color: #e1feff;
}
.navbar2{
    position: fixed;
    top: 40px;
    width: 100%;
    z-index: 10;
    background-color: rgb(65, 65, 65);
    list-style-type: none;
    display: flex;
    gap: 20px;
    height: 50px;
    align-items: center;
    justify-content:flex-end;
}
.navbar2 li a{
    text-decoration: none;
    color: white;
}
.navbar2 li a:hover{
    text-decoration: underline;
}
.navbar3{
    position: fixed;
    z-index: 10;
    top: 90px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar3 input{
    width: 20%;
    padding: 4px 0 4px 9px;
    border-radius: 15px;
    border: none;
    outline: none;
}
.navbar3 p {
    color: white;
    padding: 15px 0 0 0 ;
} 

.left_content{
    height: 100% !important;
    width: 200px !important;
    display: flex;
    flex-direction: column;
    line-height: 60px;
    list-style-type: none;
    padding: 0 0 0 10px;
    font-weight: 600;
    position: fixed;
    top: 120px;
    z-index: 3;
}
.active{
    width: 180px !important;
}
.menu_content{
    display: none;
    transition: .5s;
}
.left_content li a{
    text-decoration: none;
    color: #fc9634;
}
.left_content li a:hover{
    color: white;
    text-decoration: underline;
}
.right_content{ 
    margin: 100px 0 0 0;
    width: 100%;
    background-color: #E1FEFF;
}
.form1{
    padding: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.form1 input{
    width: 100%;
    padding: 4px 8px;
    border: 1.5px solid #2c2a2a;
}
.form1 textarea{
    border: 1.5px solid #2c2a2a;
}

                  /* view list  */

.viewlist_content{
    width: 100%;
    padding:  150px 0 0 0;
}

.menu_hide{
    cursor: pointer;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
tr:nth-child(even){
    background-color: #efa338ef;
}
tr:nth-child(odd){
    background-color:#005fade7;
}


  td, th {
    border-left: 1px solid #00000094 !important;
    color: white;
    min-width:140px;
    text-align: left;
    padding: 8px;
  }
  th{
    color: black;
    background: rgb(255, 255, 255);
}
.clearFiltersBtn{
    color: white;
    background-color: rgb(255, 0, 0);
    border: none;
    border-radius: 5px ;
    padding: 5px 10px;
}
.clearFiltersBtn:hover{
    background-color: rgb(206, 3, 3);
}